/*////////////////////////////////////////////////////////////////////////////////////////////*/
                                   /* PAGE ACCUEIL*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

/*///////////////////////*/
/* BARRE DE MENU */
/*///////////////////////*/

/* Couleur barre de navigation */

/*.bg-primary {
    background-color: #ED6A5A !important;
}*/

/*///////////////////////*/
/* HEADER */
/*///////////////////////*/

/* Photo header */

#slide-accueil {
    background-image: url('../img/slide.jpg');
    background-size: cover;
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/* Boutons header */

.btn-primary {
    background-color: #ED6A5A;
    border: none;
}

.btn-primary:hover {
    background-color: #9BC1BC;
}

.btn-primary:focus {
    box-shadow: none;
}

/* Alignement texte header */

#align {
    margin-top: 100px;
}

.text-sm-center {
    margin-top: 55px;
}

.img-center {
    display: block;
    margin: auto;
}

/*///////////////////////*/
/* SECTION PRESENTATION DES 4 SOIREES */
/*///////////////////////*/

/* Couleur background des blocs soirées */
/*.color1 {
    background-color: #ED6A5A
}

.color2 {
    background-color: #9BC1BC
}*/

/* Ajustement taille des affiches de films */
/*.img-thumbnail {
    height: 300px;
    width: 250px;
    margin-right: auto;
    margin-left: auto;
}
*/
/* Customisation des boutons (alignement, couleur) */
.btn-group {
    margin: auto;
}

.btn-adapt {
    padding-bottom: 5%;
}

.btn-warning {
    background-color: #F4F1BB;
    border: none;
}

.btn-warning:hover {
    background-color: #E6EBE0;
    border: none;
}

.btn-warning:focus {
box-shadow: none;
}

/*///////////////////////*/
/* CTA CONTACT */
/*///////////////////////*/

/*#background-color {
    background-color: #ED6A5A;
}*/

.btn-secondary {
    background-color: #F4F1BB;
    border: none;
    color: #212529;
}

.btn-secondary:hover {
    background-color: #E6EBE0;
    border: none;
    color: #212529;
}

.btn-secondary:focus {
box-shadow: none;
}

/*///////////////////////*/
/* CAROUSEL */
/*///////////////////////*/

/* Taille des flèches Next/Prev */
.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 20%;
    width: 20%;
    color: white;
    opacity: none;
}

/*///////////////////////*/
/* FOOTER */
/*///////////////////////*/

/*#footer-color {
    background-color: #ED6A5A;
}*/

/*a {
    color: #212529;
}*/

/*///////////////////////*/
/* MEDIA QUERIES */
/*///////////////////////*/

/* Padding top du texte "Le festival de cinéma de votre ville" */
@media (max-width: 768px) {
.text-padding {
    padding-top: 8%;
    }    
/* Alignement au centre du texte h1 du header */ 
.text-sm-center {
    text-align: center;
    }
}    


/*////////////////////////////////////////////////////////////////////////////////////////////*/
                                   /* PAGE LISTE DES FILMS*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

/*///////////////////////*/
/* HEADER */
/*///////////////////////*/

/* Photo header */

#slide-films {
    background-image: url('../img/slide-films.jpg');
    background-size: cover;
    min-height: 500px;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }

/*///////////////////////*/
/* SECTION TABS */
/*///////////////////////*/

.card-header {
    padding: 0;
}
  
.nav-tabs {
    margin: -1px;
}

.card-title {
    margin-left: 50px;
}

.nav-link {
    padding: .5rem 7.125rem;
}

/*///////////////////////*/
/* MEDIA QUERIES */
/*///////////////////////*/

@media (max-width: 768px) {
.nav-link {
    padding: .5rem 1rem;
    }    


#centre-mobile {
    padding-top: 8rem!important
    }
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/
                                   /* PAGE CONTACT */
/*////////////////////////////////////////////////////////////////////////////////////////////*/




#slide-contact {
    background-image: url('../img/slide-contact.jpg');
    background-size: cover;
    min-height: 500px;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

/*///////////////////////*/
/* FORMULAIRE + MAP */
/*///////////////////////*/

#width-text {
    width: 60%;
    margin: auto;
}

/*///////////////////////*/
/* MEDIA QUERIES */
/*///////////////////////*/

@media (max-width: 768px) {
#width-text {
    width: auto;
    margin: auto;
    }

#marge {
    margin-top: 10%;
    }    
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/
                                   /* MODAL */
/*////////////////////////////////////////////////////////////////////////////////////////////*/

.border-bottom {
    border-bottom: 1px solid #e9ecef;
}

.modal-content {
    background-color: #E6EBE0;
}